.complaintTable{
	border-collapse: collapse;
}

.complaintTable th, td{
  vertical-align: top;
  border: 2px solid black;
}

.complaintTable th{
	text-align: center;
}

.complaintTable .textField{
	max-width: 300px;
	/*width: 100%;*/
}

.complaintTable input[type="text"]{
  border: none;
  border-bottom: 1px solid black;
  min-width: 300px;
}

.complaintTable textarea{
  border: none;
  border-bottom: 1px solid black;
}

.complaintTable textarea[name="whatHappened"]{
  min-width: 300px;
  min-width: 300px;
  min-height: 200px;
}

.stackable{
	margin-top: 5px;
}
