@media print{
	*{
			font-size: 12px;
		}

	.printHeading{
		text-align: center;
		display: block !important;
	}

	.printHeading, .printHeading *{
		font-size: 24px;
	}

	.noPrint, .noPrint *{
		display: none !important;
	}

	#tableContainer{
		width: 100% !important;
	}
}

#tableContainer{
	margin: auto;
	width: 65%;
}

#loadMore{
	float: right;
	margin-right: 2px;
}

#mainTable{
	width: 100%;
}

#mainTable th, #mainTable td{
  font-size: 1em;
  border: 2px solid black;
  padding: 2px;
  text-align: center;
  cursor: pointer;
}

#mainTable th:hover, #mainTable td:hover, .contextMenuStyle .menuOption:hover{
	color: white;
	background-color: black;
}

#caseInfo{
	display: none;
	background-color: white;
	position: fixed;
	border: 2px solid black;
	box-shadow: 5px 5px 5px black;
	height: 90%;
	overflow: auto;
	z-index: 100;
}

.fixedElClose{
	position: absolute;
	width: 48px !important;
	top: -4px;
	margin-left: 2px;
	left: 100%;
	margin-left: -58px !important;
}

.contextMenuStyle{
	display: none;
	position: absolute;
	box-shadow: 5px 5px 5px black;
	border: 2px solid black;
	background-color: white;
	padding: 2px 2px 2px 2px;
}

.contextMenuStyle .menuOption{
	border: 2px solid black;
	text-align: center;
	cursor: pointer;
	padding: 2px 2px 2px 2px;
	margin-bottom: 2px;
}

#caseTarget{
	display: inline-block;
	float:left;
}

#updateDBButton{
	display: none;
}

.emphasize{
	background-color: yellow !important;
}

.de_emphasize{
	border-color: lightgrey !important;
	color: lightgrey !important;
}

.filterDisplay{
	font-weight: bold;
	margin-right: 5px;
	margin-top: 2px;
	margin-bottom: 2px;
	border: 2px solid black;
	padding: 2px 2px 2px 2px;
}

.filterCloseButton{
	border: 1px solid black;
	cursor: pointer;
	margin-left: 5px;
	color: black;
	background-color: white;
	/*padding: 2px 2px 2px 2px;*/
}

.filterCloseButton:hover{
	background-color: black;
	color: white;
}

.filtersBox{
	height: 25px;
	margin-bottom: 10px;
}

.loginBox{
	text-align: center;
	float: left;
}

.loginBox *{
	float: left;
	clear: both;
}

.menuBox{
	text-align: center;
	float: right;
}

.menuBox *{
	float: right;
	clear: both;
}

.noteBox{
	border: 2px solid black;
	width: 125px;
}

.sentence{
	max-width: 300px;
}
