td{
  font-size: 1.5em;
  vertical-align: top;
  text-align: center;
  border: 2px solid black;
  padding-left: 3px;
  padding-right: 3px;
}

#formScan{
	height: 90%;
	float: right;
	border: 3px solid black;
	box-shadow: 5px 5px 5px black;
}

.result{
	width: 300px;
}