.UIButton{
	display: inline-block;
	cursor: pointer;
	border: 3px solid black;
	background-color:white;
	color: black;
	text-align: center;
	border-radius: 5px;
	margin-bottom: 5px;
	font-weight: bold;
}

.UIButton:hover{
	background-color: black;
	color: white;
}

.buttonLong{
	width: 300px;
}
.buttonMedium{
	width: 200px;
}
.buttonShort{
	width: 125px;
}
.buttonTiny{
	width: 75px;
}

.centerBox{
	text-align: center;
	width:400px;
	height: 400px;
	position:absolute;
	top:50%;
	margin-top: -200px;
	left:50%;
	margin-left: -200px;
}

.noteBox{
	display: inline-block;
	border: 2px solid black;
	width: 125px;
	margin-bottom: 5px;
}