.UIButton{
	display: inline-block;
	cursor: pointer;
	border: 3px solid black;
	background-color:white;
	color: black;
	text-align: center;
	border-radius: 5px;
	margin-bottom: 5px;
	font-weight: bold;
}

.UIButton:hover{
	background-color: black;
	color: white;
}

.buttonLong{
	width: 300px;
}
.buttonMedium{
	width: 200px;
}
.buttonShort{
	width: 125px;
}