.UIButton{
	display: inline-block;
	cursor: pointer;
	border: 1px solid black;
	background-color: white;
	color: black;
	text-align: center;
	margin: 0;
	font-weight: bold;
}

.UIButton:hover{
	background-color: black;
	color: white;
}

.buttonLong{
	width: 300px;
}
.buttonMedium{
	width: 200px;
}
.buttonShort{
	width: 125px;
}
.buttonTiny{
	width: 75px;
}

.danger{
	background-color: rgb(200,0,0);
	color: white;
}

.danger:hover{
	background-color: rgb(230,230,0);
	color: black;
}

.centerBox{
	text-align: center;
	width:400px;
	height: 400px;
	position:absolute;
	top:50%;
	margin-top: -200px;
	left:50%;
	margin-left: -200px;
}

.noteBox{
	display: inline-block;
	border: 1px solid black;
	width: 125px;
	margin: 0;
}

.dropdown{
	display: inline-block;
	position: fixed;
	right: 5px;
	z-index: 1000;
}

.dropdownSubmenu{
	display: inline-block;
	position: relative;
}

.dropdownContent, .dropdownContentSubmenu{
	display: none;
}

.dropdown:hover .dropdownContent{
	display: block;
	position: absolute;
}

.dropdownSubmenu:hover .dropdownContentSubmenu{
	display: inline-block;
 	position: absolute;
 	right: 100%;
 	top: 0;
}
