@media print{
	*{
			font-size: 12px;
		}
	
	.printHeading{
		text-align: center;
		display: block !important;
	}
	
	.printHeading, .printHeading *{
		font-size: 24px;
	}
	
	.noPrint, .noPrint *{
		display: none !important;
	}
}

#mainTable th, #mainTable td{
  font-size: 1em;	
  border: 2px solid black;
  padding: 2px;
  text-align: center;
  cursor: pointer;
}

#mainTable th:hover, #mainTable td:hover, #contextMenu .menuOption:hover{
	color: white;
	background-color: black;
}

#caseInfo{
	display: none;
	background-color: white;
	position: fixed;
	border: 2px solid black;
	box-shadow: 5px 5px 5px black;
	height: 90%;
}

.fixedElClose{
	position: absolute;
	width: 48px;
	top: 2px;
	left: 100%;
	margin-left: -50px;
}

.contextMenuStyle{
	display: none;
	position: absolute;
	box-shadow: 5px 5px 5px black;
	border: 2px solid black;
	background-color: white;
	padding: 2px 2px 2px 2px;
}

.contextMenuStyle .menuOption{
	border: 2px solid black;
	text-align: center;
	cursor: pointer;
	padding: 2px 2px 2px 2px;
}

#caseTarget{
	display: inline-block;
	float:left;
}

#updateDBButton{
	display: none;
}

.emphasize{
	background-color: yellow;
}

.de_emphasize{
	border-color: lightgrey !important;
	color: lightgrey;
}

.filterDisplay{
	border: 2px solid black;
	padding: 2px 2px 2px 2px;
}

.filterCloseButton{
	border: 1px solid black;
	cursor: pointer;
	margin-left: 5px;
	padding: 2px 2px 2px p2x;
}